body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ip {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

#location {
    font-size: 18px;
    margin-top: 10px;
}
